<div class="border-t-4 border-black bg-white shadow w-full rounded-lg divide-y divide-gray-200">


    <div class="px-4 py-4">
        <div class="flex justify-center py-2">
            <img class="border-4 border-gray-300 bg-gray-200 inline object-contain w-20 h-20 mr-2 rounded-full"
                src="<%= picture %> " alt="">
            <% if (client.logoUri) { %>
                    <img class="border-4 border-gray-300 bg-gray-200 inline object-contain w-20 h-20 mr-2 rounded-full" src="<%= client.logoUri %> " alt="">
                <% } %>
        </div>

        <% if ([details.scopes.accepted, details.scopes.rejected, details.claims.accepted, details.claims.rejected].every(({length}) => length === 0)) { %>
                <span class="text-sm">
                    Ini adalah Permintaan otorisasi baru 
                </span>
        <% } %>

        <span class="text-sm inline-block">
            Halo, <span class="font-bold">
                <%- name %>
            </span> informasi akun mu akan ditautkan pada Aplikasi
            <span class="font-bold">
                <%- client.clientName %>.
            </span>
        </span>


        

        <span class="text-sm">
            Dengan mengotorisasi tautan ini, kamu mengijinkan Aplikasi
            <span class="font-bold">
                <%- client.clientName %>  
            </span> 
            untuk :
        </span>


        <ul class="list-disc px-5 py-2">

        
    <% if ([details.scopes.new, details.claims.new].every(({length}) => length === 0)) { %>
        <li>
            <%- client.clientName %> <span class="text-xs">meminta anda untuk mengkonfirmasi otorisasi yang diberikan sebelumnya</span>
        </li>
    <% } %>

    <% newScopes = new Set(details.scopes.new); newScopes.delete('openid'); newScopes.delete('offline_access') %>

    <% if (newScopes.size) { %>
        <ul class="list-disc">
            <% newScopes.forEach((scope) => { %>
                <li>
                    <span class="text-xs">
                        <%= scopeDetails(scope).description %>
                    </span>
                </li>
            <% }) %>
        </ul>
    <% } %>

    <% newClaims = new Set(details.claims.new); ['sub', 'sid', 'auth_time', 'acr', 'amr', 'iss'].forEach(Set.prototype.delete.bind(newClaims)) %>
    <% if (newClaims.size) { %>
        <li>claims:</li>
        <ul class="list-disc px-5 py-7">
            <% newClaims.forEach((claim) => { %>
                <li><%= claim %></li>
            <% }) %>
        </ul>
    <% } %>

    <% if (params.scope && params.scope.includes('offline_access')) { %>
            <span class="text-xs">
                the client is asking to have offline access to this authorization
            </span>
            <% if (!details.scopes.new.includes('offline_access')) { %>
                (yang sebelumnya kamu setujui)
            <% } %>
    <% } %>
</ul>

        <div class="bg-yellow-100 border-l-4 border-yellow-300 p-2">
            <span class="text-xs inline-block">
                Ini merupakan layanan pihak ketiga. Jika kamu tidak mempercayai layanan ini untuk mengakses akunmu, maka
                kamu boleh untuk tidak menyutujuinya.
            </span>
        </div>


    <div class="flex-auto flex justify-end my-3 space-x-3">
        <form autocomplete="off" action="<%= baseUrl %>/interaction/<%= uid %>/abort"  method="GET">
                    <button class="transition duration-200 bg-gray-300 focus:ring-4 focus:ring-green-500 focus:ring-opacity-50 text-black w-24 py-2.5 rounded-lg text-sm shadow-sm hover:shadow-md font-semibold text-center inline-block" type="submit">
                    <span class="inline-block">Batal</span> 
                    </button>
        </form>
        <form autocomplete="off" action="<%= baseUrl %>/interaction/<%= uid %>/confirm" method="post">
                    <button class="transition duration-200 bg-green-500 hover:bg-green-600 focus:bg-green-700 focus:shadow-sm focus:ring-4 focus:ring-green-500 focus:ring-opacity-50 text-white w-24 py-2.5 rounded-lg text-sm shadow-sm hover:shadow-md font-semibold text-center inline-block" type="submit">
                        <span class="inline-block">Setuju</span>
                    </button>
        </form>
    </div>
               
    </div>

    <div class="p-5 text-center">
        <span class="inline-block text-xs">
            <%- client.clientName %>
        </span>
        <div class="mt-1">
            <span class="font-bold">
                OAuth2 MASTER
            </span>
        </div>
    </div>
</div>