<div class="border-t-4 border-blue-900 bg-white shadow w-full rounded-lg divide-y divide-gray-200">
    <div class="px-5 py-7">
        <form autocomplete="off" method="POST" action="<%= baseUrl %>/interaction/<%= uid %>/login">
            <label class="font-semibold text-sm text-gray-600 pb-1 block">
                NIP
            </label>
            <input required name="login" type="text" class="border rounded-lg px-3 py-2 mt-1 mb-0 text-sm w-full" />
            <% if(flash) {%>
            <span class="text-xs italic text-red-500">
                <%= flash %> 
            </span>
            <% } %> 
            <div class="mb-5"></div>

            <label class="font-semibold text-sm text-gray-600 pb-1 block">Password</label>

            <input required name="password" type="password" class="border rounded-lg px-3 py-2 mt-1 mb-0 text-sm w-full" />
            <% if(flash) {%>  
            <span class="text-xs italic text-red-500">
                <%= flash %> 
            </span>
            <% } %> 
            <div class="mb-5"></div>
            

            <button type="submit"
                class="transition duration-200 bg-blue-500 hover:bg-blue-600 focus:bg-blue-700 focus:shadow-sm focus:ring-4 focus:ring-blue-500 focus:ring-opacity-50 text-white w-full py-2.5 rounded-lg text-sm shadow-sm hover:shadow-md font-semibold text-center inline-block">
                <span class="inline-block mr-2">Login</span>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"
                    class="w-4 h-4 inline-block">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M17 8l4 4m0 0l-4 4m4-4H3" />
                </svg>
            </button>

        </form>
    </div>
    <div class="p-5 text-center">
        <span class="inline-block text-xs">
            <%- client.clientName %>
        </span>
        <div class="mt-1">
            <span class="font-bold">
                OAuth2 MASTER
            </span>
        </div>
    </div>
</div>