<div class="border-t-4 border-black bg-white shadow w-full rounded-lg divide-y divide-gray-200">
    <div class="px-5 py-7">
        <form autocomplete="off" action="<%= baseUrl %>/interaction/<%= uid %>/continue" method="post">
            <button autofocus type="submit"
                class="transition duration-200 bg-blue-500 hover:bg-blue-600 focus:bg-blue-700 focus:shadow-sm focus:ring-4 focus:ring-blue-500 focus:ring-opacity-50 text-white w-full py-2.5 rounded-lg text-sm shadow-sm hover:shadow-md font-semibold text-center inline-block">
                <span class="text-sm">
                    Lanjutkan
                    sebagai <%= name %>
                </span>
            </button>
        </form>
        <form autocomplete="off" action="<%= baseUrl %>/interaction/<%= uid %>/continue" method="post">
            <input type="hidden" name="switch" value="true">
            <button
                class="my-3 transition duration-200 bg-gray-300 focus:ring-4 focus:ring-green-500 focus:ring-opacity-50 text-black w-full py-2.5 rounded-lg text-sm shadow-sm hover:shadow-md font-semibold text-center inline-block"
                type="submit">
                <span class="text-sm">
                    Ganti Akun
                </span>
            </button>
        </form>
    </div>
    <div class="p-5 text-center">
        <span class="inline-block text-xs">
            <%- client.clientName %>
        </span>
        <div class="mt-1">
            <span class="font-bold">
                OAuth2 MASTER
            </span>
        </div>
    </div>
</div>
</div>