<div class="border-t-4 border-black bg-white shadow w-full rounded-lg divide-y divide-gray-200">
    <div class="p-5 text-center">
        <div class="mt-1">
            <span class="font-bold">
                OAuth 2 MASTER
            </span>
        </div>
        <div>
            <p class="text-red-500">
                <%= error %>
                    <%= name %>
            </p>
            <div class="py-4">
                <a href="http://www.bkd.jatimprov.go.id/">BKD JATIM</a>
            </div>
        </div>
    </div>
</div>